.top-sales {
  width: 35%;
  background-color: #FFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 20px;
  margin-left: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #3465FB;
}

.top-sales ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
