* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Segoe UI', Arial, Helvetica, sans-serif;
}

.app {
  background-color: #F5F5F5;
  position: relative;
  min-height: 100vh;
  transition: all 0.5s ease;
}