.menu-item {
  height: 50px;
  position: relative;
  list-style-type: none;
}

.menu-item button {
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #081D45;
}

.menu-item button:active {
  opacity: 0.5;
}

.menu-item button svg {
  min-width: 60px;
  text-align: center;
  color: #fdfdfd;
  font-size: 18px;
}

.menu-item-text {
  color: #fdfdfd;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.menu-item:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}